name: Docker Image CI
on:
  push:
    tags:
      - 'v[0-9]*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile-package --tag dbzero_ce_package:latest
