name: build linux packages
on:
  push:
    tags:
      - 'v[0-9]*'
  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        # python-version: ["3.10", "3.11", "3.12", "3.13"]
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v3
      - run: python3 scripts/generate_meson.py ./src/dbzero/ core
      - run: python3 scripts/generate_meson_tests.py tests/
      - run: git config --global user.email "you@example.com"
      - run: git config --global user.name "Your Name"
      - run: python3 --version
      - run: g++ --version
      - run: rm .gitignore
      - run: git add . && git commit -m "Update meson files"
      - run: pip install build
      - run: python3 -m build 
        env:
          CIBW_SKIP: pp* cp36-* *-musllinux*
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_ARCHS_LINUX: x86_64 aarch64
          CIBW_ARCHS_WINDOWS: ${{ matrix.architecture }}

      - uses: actions/upload-artifact@v4
        with:
          path: dist/
          name: wheels
          retention-days: 1

  tests:

    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        # python-version: ["3.10", "3.11", "3.12", "3.13"]
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Get package from previous job
        uses: actions/download-artifact@v4
        with:
          name: wheels
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: install package
        run: |
          pip3 install `ls dist/`
      - name: Run tests
        run: |
          ./run_tests.sh
