name: build
on:
  push:
    tags:
      - 'v[0-9]*'
  workflow_dispatch:

jobs:
  wheels:
    runs-on: ${{ matrix.os }}
    env:
      version: steps.release.outputs.version
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64
        if: runner.os == 'Linux'
      - uses: bus1/cabuild/action/msdevshell@v1
        with:
          architecture: x64
        if: runner.os == 'Windows' && matrix.architecture == 'AMD64'
      - uses: bus1/cabuild/action/msdevshell@v1
        with:
          architecture: x86
        if: runner.os == 'Windows' && matrix.architecture == 'x86'
      - run: pip3 install pipx
      - run: pipx run cibuildwheel==2.11.2
        env:
          CIBW_SKIP: pp* cp36-* *-musllinux*
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_ARCHS_LINUX: x86_64 aarch64
          CIBW_ARCHS_WINDOWS: ${{ matrix.architecture }}
      - uses: actions/upload-artifact@v3
        with:
          path: wheelhouse/*.whl

  sdist:
    needs:
      - release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: python -m pip install build meson
      - run: python -m build --sdist
      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz
